@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: black;
}

/* scrollbar */

body::-webkit-scrollbar {
  display: none;
}


@layer components {
  .heading-1 {
    @apply text-4xl font-bold;
  }
  
  /* Theme when implemented */
  .dark {
    @apply bg-[#0f172a] text-[#ddd]
  }

  /* Navbar */
  .container-nav {
    @apply flex items-center justify-between h-[80px] bg-[#110016] fixed top-0 w-full z-[1000]
  }

  .social{
    @apply 2xl:flex 2xl:flex-1 2xl:gap-2.5 items-center 2xl:ml-10 md:flex md:flex-1 md:ml-10 md:gap-2.5 2xs:hidden
    3xs:hidden sm:hidden md:hidden
  }

  .logo {
    @apply flex-1 text-center 2xl:text-[36px] font-bold justify-center items-center md:text-[32px]
    sm:text-start sm:ml-5 xs:text-start xs:ml-5 xs:text-[32px] 2xs:text-start 2xs:ml-5
    2xs:text-[32px]  sm:text-[32px] lg:text-[32px]
  }

  .links {
    @apply flex items-center 2xl:gap-5 2xl:mr-auto flex-1 2xl:text-[20px] justify-center md:mr-5 sm:mr-5 md:text-[18px] md:gap-[15px] sm:gap-[10px]
  }

  .link{
    @apply sm:hidden xs:hidden 2xs:hidden 3xs:hidden md:block xl:block lg:block 2xl:justify-center

  }
  .link-burger {
    @apply 2xl:hidden md:block lg:hidden xl:hidden sm:flex 3xs:flex 2xs:flex xs:flex
    text-center justify-center my-20 text-[36px] font-bold align-middle
  }

  .burger {
    @apply w-5 h-5 2xl:hidden sm:block 3xs:justify-center 2xs:justify-end md:hidden lg:hidden xl:hidden
    sm:ml-[300px] sm:mr-[50px] xs:ml-[200px] xs:mr-[50px] 2xs:ml-[100px] 3xs:ml-[50px]
  }

  .burger-menu {
    @apply absolute top-[80px] left-0 bg-[#110016] h-[100vh] w-full z-[1000] flex-col items-center
    justify-center gap-[50px] text-[36px] lg:mr-[50px] md:mr-[50px]
  }


  /* authLinks */

  .login {
    @apply text-red-500 md:block sm:hidden 2xs:hidden 3xs:hidden lg:block xl:block 2xl:block md:mr-[50px]
  }

  /* ThemeToggler */

  .container-theme {
    @apply flex w-10 h-5 relative rounded-full cursor-pointer bg-black items-center justify-between
  }

  .ball {
    @apply w-[15px] h-[15px] bg-white rounded-full absolute left-[1px] 
  }


  /* categorie */

  .catContainer {
    @apply flex flex-col items-center justify-center gap-5 md:flex-col
  }

  .catTitle {
    @apply text-[36px] mx-0 my-[50px]
  }

  .categories {
    @apply flex lg:flex-row md:flex-row justify-between gap-[80px] items-center w-[80%] sm:flex-col sm:gap-[40px]
    xs:flex-col xs:gap-[30px] 2xs:flex-col 2xs:gap-[20px] 3xs:flex-col 3xs:gap-[10px] mb-5
  
  }

  .category {
    @apply flex items-center gap-[10px] uppercase text-white w-[15%] h-[80px] justify-center
  }

  .catImage {
    @apply w-[50px] h-[50px] rounded-full
  }

  /*  @menucategories */
  
  .menuCategories {
    @apply py-[10px] px-[25px] rounded-lg text-[14px] font-semibold
  }

  /* prev and next buttons */

  .btns {
    @apply w-[150px] border-none p-4 bg-red-800 text-white cursor-pointer rounded-lg hover:bg-red-400 hover:text-black font-semibold lg:mx-auto md:mx-auto sm:mx-auto xs:mx-auto 2xs:mx-auto 3xs:mx-auto
  }

  /* Footer */

  .footer {
    @apply flex items-center justify-center h-[85px] bg-[#110016] relative bottom-0 mb-0 z-[1000]
  }
}